@{
    Layout = null;
}

<h2>Download File</h2>

<form action="/File/GenerateFile" method="post">
    <div>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" />
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" />
    </div>
    <div>
        <label for="fileName">File Name</label>
        <input type="text" name="fileName" id="fileName" />
    </div>
    <input type="submit" value="Продовжити" />
</form>
