@*
    
*@
@{
    Layout = null;
}

<form asp-action="Login" asp-controller="Home" method="post">
    <div>
        Enter your name: <input type="text" name="username" required/>
    </div>
    <button type="submit">Login</button>
</form>
